<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>All Shows</h1>
        <table style="border: 3px solid black;">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Network</th>
                <th>Release Date</th>
                <th>Actions</th>
            </tr>
            {% for show in all_shows %}
                <tr>
                    <td>{{ show.id }}</td>
                    <td>{{ show.title }}</td>
                    <td>{{ show.network }}</td>
                    <td>{{ show.release }}</td>
                    <td>
                        <a href="{% url 'shows:one_show' show_id=show.id %}">Show</a> | 
                        <a href="{% url 'shows:edit' show_id=show.id %}">Edit</a> | 
                        <a href="{% url 'shows:delete' show_id=show.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'shows:new_show' %}">Add a New Show</a>
    </div>
</body>
</html>