body {
    margin: auto 0px;
    padding: 0px;
}

.container {
    width: 550px;
}

th, td {
    border: 1px solid black;
}

th {
    background-color: lightblue;
    border-bottom: 2px solid black;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}